*{
    margin: 0%;
    padding: 0%;
}



#banner{

    justify-content: center;
    

}


#banner1{
    width: 40%;
    padding: 10%;
    justify-content:flex-end;

}

#banner2.gif {
    width: 70%;
    justify-content: end;

}
#cabecalho{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;

    


}

a{
    color: black;
    text-decoration: none;
    font-family:bold
}

    

#textos{
    display: flex;
    justify-content: space-between;


}  

.titulotexto{

    background-color: black;
    color: white;
    padding: 10px.20px;

}

#textos p, #textos h5{
    width: 20px;
    text-align: center;

}

#servicos{
    width: 200px;

}


#agenda{
    width: 25px;


}

#mensagem p{
    margin-left: 20px;

}

#rodape{
    width: 100%;
    padding: 10px 10px;
    background-color: black;
    color: white;
}

#rodape p{
    margin-left: 20px;
}

#mapa{
    padding: 5px 0px;
    margin: 150px;
    background-color:rgb(red, green, blue);
}